.element-button-cover,
.element-knobs,
.element-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.element-button {
  position: relative;
  width: 74px;
  height: 36px;
  scale: 0.6;
  overflow: hidden;
}

.element-button.r,
.element-button.r .element-layer {
  border-radius: 100px;
}

.element-button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.element-knobs {
  z-index: 2;
}

.element-layer {
  width: 100%;
  background-color: #393939;
  transition: 0.3s ease all;
  z-index: 1;
}

#selector .element-knobs:before,
#selector .element-knobs:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #fffcfc;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#selector .element-knobs:before {
  content: "";
}

#selector .element-knobs:after {
  content: "";
}

#selector .element-knobs:after {
  right: -28px;
  left: auto;
  background-color: white;
}

#selector .checkbox:checked + .element-knobs:before {
  left: -28px;
}

#selector .checkbox:checked + .element-knobs:after {
  right: 4px;
}

#selector .checkbox:checked ~ .element-layer {
  background-color: rgba(0, 153, 255, 0.863);
}