.element-info-pokemon {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.element-container-info > div {
    padding: 0 10px; /* Espacio interno a los lados */
  }
  
  .element-container-info > div:not(:last-child) {
    border-right: 1px solid #ccc; /* Añade borde derecho a todos menos el último */
  }

.block-info-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.element-info-types {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.element-container-info{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    gap: 10px;
}
.element-info-abilities{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}
.element-info-height{
    
    margin-bottom: 5px;
}
.element-info-weight{
 
    margin-bottom: 5px;
}
.element-bar-stats{
    width: 500px;
    height: 300px;
}
.element-back{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}
