.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.error-content {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-content h1 {
    font-size: 2.5rem;
    color: #514679;
}

.error-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #333;
}

.error-image {
    width: 300px;
    margin-top: 20px;
}

.back-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #514679;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #514679;
}